* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  min-width: 450px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1rem;
  gap: 0.5rem;
}

#input-el {
  width: 80%;
  padding: 0.5rem;
}

.btn-style {
  width: 80%;
  padding: 0.5rem;
  background-color: #151515;
  color: #cccccc;
  font-size: 0.85rem;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}
.box1:hover {
  background-color: #17e90c;
  color: #151515;
  transition: ease-out 0.25s;
}
.box2:hover {
  background-color: #e50ce97d;
  color: #151515;
  transition: ease-out 0.25s;
}
.box3:hover {
  background-color: #cccccc;
  color: #151515;
  transition: ease-out 0.25s;
}


ul {
  list-style: none;
  margin-top: 1rem;
  /* padding-left: 0; */
}
li {
  /* color: #151515; */
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #151515;
}